<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<connectionStrings>
		<add name="connection"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
                           Initial Catalog=AttendanceDB;
                           Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
		<pages controlRenderingCompatibilityVersion="4.0"
			   clientIDMode="AutoID"/>
	</system.web>

</configuration>